@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
}




.gradient {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeaf61+0,fb9062+24,ee5d6c+52,ce4993+84,6a0d83+100 */
background: #eeaf61; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #eeaf61 0%, #fb9062 24%, #ee5d6c 52%, #ce4993 84%, #6a0d83 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #eeaf61 0%,#fb9062 24%,#ee5d6c 52%,#ce4993 84%,#6a0d83 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #eeaf61 0%,#fb9062 24%,#ee5d6c 52%,#ce4993 84%,#6a0d83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeaf61', endColorstr='#6a0d83',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}